<md-card>
  <md-card-header>
    <md-card-title>登录：</md-card-title>
  </md-card-header>
  <md-card-content>
    <md-input-container align="end" color="accent" floatPlaceholder="float">
      <span mdPrefix>wang</span>
      <input mdInput type="email" placeholder="您的email">
      <span mdSuffix>@gmail.com</span>
      <md-hint>必填项</md-hint>
    </md-input-container>
  </md-card-content>
  <md-card-actions align="start">
    <p>还没有账户？<a href="">注册</a></p>
    <p>忘记密码？<a href="">找回</a></p>
  </md-card-actions>
</md-card>